<%- include('./partials/header') %>

    <main>

        <div class="pedidos">
            <div class="wrapper-box">

                <div class="titulopedido">
                    <h2 class="titulopedido1">
                        Meus pedidos
                    </h2>

                    <form class="search">

                        <div class="busca">
                            <label for="busca"> <img src=""/>  </label>
                            <input type="text" name="busca" id="busca" placeholder="pesquisar...">
                        </div>

                    </form>
                </div>


                <div class="box-1">

                    <div class="boxphoto">
                        <img src="/images/pedidos/burguer-5.jpg" />
                    </div>

                    <div class=" textos">
                        <a href="#">
                            <h3 class="titulobox1"> Pedido 01 </h3>
                        </a>

                        <div class="descricao">
                            <p>pedido: 02-869324032</p>
                            <p> lanche xxxxxx </p>
                        </div>

                        <div class="botaopedidos">
                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Trocar ou devolver </a>
                            </div>


                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Acompanhar envio </a>
                            </div>

                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Preciso de Ajuda </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-2">
                    <div class="boxphoto">
                        <img src="/images/pedidos/burguer-1.jpg" />
                    </div>

                    <div class=" textos">
                        <a href="#">
                            <h3 class="titulobox2"> Pedido 02</h3>
                        </a>

                        <div class="descricao">
                            <p>pedido: 02-869324032</p>
                            <p> lanche xxxxxx</p>
                        </div>

                        <div class="botaopedidos">
                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Trocar ou devolver </a>
                            </div>


                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Acompanhar envio </a>
                            </div>

                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Preciso de Ajuda </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-3">

                    <div class="boxphoto">
                        <img src="/images/pedidos/bebida05.jpg" />
                    </div>

                    <div class=" textos">
                        <a href="#">
                            <h3 class="titulobox3"> Pedido 03</h3>
                        </a>

                        <div class="descricao">
                            <p>pedido: 02-869358632</p>
                            <p> lanche xxxxxx</p>
                        </div>
                        <div class="botaopedidos">
                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Trocar ou devolver </a>
                            </div>


                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Acompanhar envio </a>
                            </div>

                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Preciso de Ajuda </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box-4">
                    <div class="boxphoto">
                        <img src="/images/pedidos/acompanhamento03.jpeg" />
                    </div>

                    <div class=" textos">
                        <a href="#">
                            <h3 class="titulobox4"> Pedido 04</h3>
                        </a>
                        <div class="descricao">
                            <p>pedido: 02-866529932</p>
                            <p> lanche xxxxxx </p>
                        </div>

                        <div class="botaopedidos">
                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Trocar ou devolver </a>
                            </div>


                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Acompanhar envio </a>
                            </div>

                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Preciso de Ajuda </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-5">

                    <div class="boxphoto">
                        <img src="/images/pedidos/cachorroquente.jpg" />
                    </div>

                    <div class=" textos">
                        <a href="#">
                            <h3 class="titulobox5"> Pedido 05</h3>
                        </a>
                        <div class="descricao">
                            <p>pedido: 02-86935032</p>
                            <p> lanche xxxxxx </p>
                        </div>

                        <div class="botaopedidos">
                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Trocar ou devolver </a>
                            </div>


                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Acompanhar envio </a>
                            </div>

                            <div class="botao-box1">
                                <a class="botaobox1" href="#"> Preciso de Ajuda </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="meuspedidosbotao">
                    <a class="linkpedidos" href="#"> Mais pedidos </a>
                </div>

            </div>
        </div>

    </main>


    <%- include('./partials/footer') %>